@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	height: 100vh;
	background: #17a2b8;
	overflow: hidden;
}

nav {
	position: absolute;
	top: 20px;
	right: 0;
	width: 80px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
}

nav .nav-content {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-45deg);
	cursor: pointer;
}

.nav-content .toggle-btn, .nav-content span a {
	height: 60px;
	width: 60px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.nav-content .toggle-btn {
	font-size: 36px;
	color: #0e2431;
	z-index: 100;
	transform: rotate(45deg);
	transition: all 0.6s ease;
}
nav.open .toggle-btn {
	transform: rotate(180deg);
}
.nav-content span {
	position: absolute;
	transition: all 0.6s ease;
}
nav.open .nav-content span {
	transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px);
}

.nav-content span a {
	text-decoration: none;
	transform: rotate(45deg);
}
.nav-content span a i {
	font-size: 24px;
	color: #0e2431;
	transform: rotate(calc(var(--i) * (360deg/ -8)));
	opacity: 0.8;
}

.nav-content span a:hover i {
	opacity: 1;
}


